<body>
  <h3>Hello <%=@current_user.name%>!</h3>
  <p>We are pleased to inform you that your product has been successfully created on our platform.</p>
  <h4>Your product details are mention below</h4>
  <table class="table table-hover">
    <p>ID : <%=@product.id%></p></br>
    <p>Seller ID : <%=@product.seller_id%></p></br>
    <p>Name : <%=@product.name%></p></br>
    <p>Description : <%=@product.description %></p></br>
    <p>Price : <%=@product.price%></p></br>
    <p>Discount : <%=@product.discount%></p></br>
    <p>Stock : <%=@product.stock%></p></br>
  <p>thank you for selling with us!</p>
  <p>team Erratic</p>
</body>