<body>
  <h3>Hello <%=@seller.user.name%>!</h3></br>
  <h4>Your seller details are mention below</h4>
        <p>Seller ID : <%=@seller.id%></p></br>
        <p>Seller name : <%=@seller.user.name%></p></br>
        <p>Company Email : <%=@seller.company_email%> </p></br>
        <p>GSTIN number : <%=@seller.GSTIN_number%></p></br>
        <p>Contact number : <%=@seller.contact%></p></br>
        <p>Category : <%=@seller.category%></p></br>      
  <p>team Erratic</p>
</body>