<h1>Home Page</h1>
<% if user_signed_in? %> 
<div>
  <% if current_user.profile.attached? %>
    <%= image_tag current_user.profile, style:"height:100px;width:100px;border-radius:50%" %>
  <% end %>
</div>
<div >
<% if current_user.role.eql?("seller") %>
    <% if current_user.seller.present? %>
      <%= "your seller details are submitted." %><br />
    <% else %>
      <%= link_to "Enter Seller Details",new_sellers_path %><br/>
    <% end %>
    <%= link_to "Add Product",new_product_path %>
  <% end %>
</div>

 <div> Welcome <%= current_user.name %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
  <%= button_to "Edit Profile", edit_user_registration_path, method:  :get %> 
<!-- ------------------------------------------------------------------------------------ -->

<!-- ------------------------------------------------------------------------------------ -->
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
