<table class="table mb-0">
  <tbody>
    <tr>
      <td>Sub Total :</td>
      <td class="text-end">₹ <%=@sub_total%></td>
    </tr>
    <tr>
      <td>Discount : </td>
      <td class="text-end">- <%=@discount%></td>
    </tr>
    <tr>
      <td>Shipping Charge :</td>
      <td class="text-end"> <p class="text-muted mb-2"><%= @sub_total >= 500 ? 'Free shipping' : '₹ 50'%></p></td>
    </tr>
    <tr>
      <td>Estimated Tax : </td>
      <td class="text-end">₹ <%=@tax%></td>
    </tr>
    <tr class="bg-light">
      <th>Total :</th>
      <td class="text-end">
        <span class="fw-bold">
          ₹ <%=((@sub_total - @discount) + @tax + @shipping_charge)%>
        </span>
      </td>
    </tr>
  </tbody>
</table>