<style>
body{
  margin: 0px;
  padding: 0px;
}
.form{
    position: relative;
}
.form .fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;
}
.form span{
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}
.left-pan{
    padding-left: 7px;
}
.left-pan i{
   
   padding-left: 10px;
}
.form-input{
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}
.form-input:focus{
    box-shadow: none;
}
.card-body button{
    border:none;
    background-color:#ffd814;
    border-radius:30px;
    text-decoration:none;
    font-size:14px;
    padding: 9px 26px;
}
a{
  text-decoration:none;
  color: black;
}
</style>
<div class="container">
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control form-input" placeholder="Search anything...">
      </div>
    </div>
  </div>            
  </div>
  <div style="display:flex;flex-wrap: wrap;;width:100%;height:70%">
  <% @products.each do |product| %>
    <div class="card" style="width: 18rem;margin:15px">
    <%= link_to product_path(product) do %>
    <% if product.images.attached? %>
        <%= image_tag main_app.rails_blob_url(product.images.first), class: 'img-thumbnail' %>
    <% else %>
        <img src="..." class="card-img-top" alt="...">
    <% end %>
  <div class="card-body">
    <h5 class="card-title"><%=product.name %></h5>
    <p class="card-text"><%=product.description%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: <%=product.price %></li>
    <li class="list-group-item">Stock: <%=product.stock %></li>
  </ul>
  <% end %>
  <div class="card-body">
    <%= button_to "Add to cart", cart_items_path(product_id: product.id) %>
  </div>
  <div class="card-body">
    <%= button_to "Add wishlist", wishlist_items_path(product_id: product.id) %>
  </div>
</div>
<% end %>
</div>
